{% block sidus_order_button_widget %}
    {% spaceless %}
        <button {{ block('widget_container_attributes') }} name="{{ form.vars.full_name }}">
            {{ arrow|raw }}&nbsp;{{ label }}
        </button>
    {% endspaceless %}
{% endblock %}

{% block sidus_sort_config_widget %}
    {% spaceless %}
        {# This is a hack to take the last values of the data object into account and not the ones binded during the handleRequest #}
        {% set columnVars = form.column.vars %}
        <input type="hidden" id="{{ columnVars.id }}" name="{{ columnVars.full_name }}"
               value="{{ form.vars.data.column }}">
        {% set directionVars = form.direction.vars %}
        <input type="hidden" id="{{ directionVars.id }}" name="{{ directionVars.full_name }}"
               value="{{ form.vars.data.direction ? 1 : 0 }}">
        {% set pageVars = form.page.vars %}
        <input type="hidden" id="{{ pageVars.id }}" name="{{ pageVars.full_name }}" value="{{ form.vars.data.page }}">
    {% endspaceless %}
{% endblock %}

{% block sidus_sort_config_row %}
    {{ block('sidus_sort_config_widget') }}
{% endblock %}

{% block sidus_combo_filter_widget %}
    <div class="input-group">
        {{ form_widget(form.input) }}
        <span class="input-group-btn">
        {{ form_widget(form.option) }}
      </span>
    </div>
{% endblock %}
